$black-color:#000;
$white-color:#fff;
$primary-color:#263238;
$secondary-color:#8F95A5;
$oq-color:#F5F5F5;
$primary-hover:#8516b4;
$primary-active:#076384;

// fonts

$text-font:"Poppins","Arial",sans-serif;